.display-card {
  border: 1px solid #e1e1e1;
  border-radius: 15px;
}

.crs-pointer {
  cursor: pointer;
}

.additionalFeedbackCard {
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  cursor: pointer;
}
